*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fdfdfd;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    text-align: center ;
    color:#fff;
     background: 
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../imagenes/hoguera.jpg") no-repeat center/cover;;
}
.banner-contenido{
    position: relative;
    z-index: 1;
    display:grid;
    gap:1rem;
    padding:0.6rem 1.2rem,;
}

.banner h1{
    font-family: 'Montserrat', sans-serif;
}
.navegacion{
    background: #222;
}
.listado button{
    background: #444;
    color:#fff;
    border: none;
    pad
    
}