
/*Eliminamos margenes y paddings por defecto*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*incluye el padding y borde en el tamaño total del elemento*/
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #333;
    background-color: #eaf6ff;
}
.contenedor-general{
  display: flex;
  flex-direction: column; /* secciones apiladas */
  align-items: stretch;   /* que cada sección ocupe su ancho */
}

/* cabecera y navegacion*/
.banner{
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  /*imagen de fondo con degradado*/
  background: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../imagenes/hoguera.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*Hacer que la imagen de fondo permanezca fija al hacer scroll*/
  background-attachment: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* evitar barras de desplazamiento */
}
/*Organizacion del contenido del banner con Grid y borde blanco */
.banner-contenido{
    display:grid;
    gap:0.5rem;
    padding:1rem 1.5rem;
    border:3px solid white;
    
   
}

.banner h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    font-family: 'Montserrat', sans-serif;
}
.banner h2{
    font-size:1.5rem;
    font-weight: 300;
}


.navegacion{
    background: #222;
    padding:1rem 1rem;
    /*barra navegacion fija*/
    position:sticky;
    top:0;
    z-index:100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/*menu horizontal con flex*/
.listado {
    display:flex;
    justify-content: center;
    list-style: none;
    gap:30px;
    margin:0;
    padding:0; 
}
/*Botones transparentes y texto blanco */
.listado  a {
    background:none;
    color:#fff;
    border:none;
    padding:0.5rem 0;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition:color 0.3s;
   
}
/*Efecto hover en los botones de navegacion*/
.listado a:hover {
    color:#fca311;
}

/* estilos generales de secciones */
section{
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;

}
main h2{
    text-align: center;
    font-size: 2.5em;
    color: #0077b6;
    margin-bottom: 40px;
    border-bottom: 3px solid #0077b6;  
    padding-bottom: 10px;
}
p{
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: justify;
}
.pie-foto{
font-style: italic;
  color: #666;
  font-size: 0.9em;
  margin-top: 10px;
}

/* Historia y origen */
.historia {
  background-color: #eaf6ff;
  padding: 50px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.historia h2 {
  text-align: center;
  font-size: 2.5em;
  color: #0077b6;
  margin-bottom: 40px;
  border-bottom: 3px solid #0077b6;
}

.bloque-historia-izquierda,
.bloque-historia-derecha {
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 40px;
    align-items: center;
    justify-content: space-between;
}
.bloque-historia-izquierda img,
.bloque-historia-derecha img {
    flex: 0 0 40%;
    max-width: 40%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.bloque-historia-izquierda div,
.bloque-historia-derecha div {
    flex: 0 0 50%;
    width: 50%;
    box-sizing: border-box;
}
.bloque-historia-derecha {
    flex-direction: row-reverse; 
}
/*cultura y tradiciones*/
.cultura{
    background-color: #eaf6ff;
}
/*tarjetas en grid  4 columnas, cada tarjeta tiene borde, sombra y efecto hover*/
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top:20px;
}
.card{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: transform 0.3s;
}
/*Efecto hover en las tarjetas*/
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.card h4{
    color: #0077b6;
    margin-bottom: 15px;
    font-size: 1.4em;
    border-left: 5px solid #fca311;
    padding-left: 10px;
}
.card img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 15px 0 5px 0;
    width: 100%;
    object-fit: cover;
}
.card .pie-foto{
    margin: 5px 0 0 0;
}

/* Experiencia */
.experiencia{
    text-align: center;
    text-align: justify;
}

/* galeria de carteles con flex, centrados y efecto hover*/
.carteles-anteriores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.cartel {
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.cartel:hover {
  transform: scale(1.05);
}



/* Información  con flex, borde y fondo blanco*/
.informacion-contacto{
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.informacion-contacto h2{
   text-align: center;
    font-size: 2.5em;
    color: #0077b6;
    margin-bottom: 40px;
    border-bottom: 3px solid #0077b6;
}
.informacion-contacto h4{
    color: #0077b6;
    margin-bottom: 10px;

}
.info{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px; /* Separación con el bloque de abajo */
}

.info article {
    flex: 1 1 250px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}

.info article h4 {
    color: #0077b6;
    margin-bottom: 10px;
}
.contenedor-mapa-form{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: stretch;
}
.mapa{
    flex: 1 1 45%;
    min-width: 300px;
    min-height: 450px; 
    border-radius: 12px; 
    overflow: hidden; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    position: relative; 
}
.mapa iframe{
   width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;     
}
.formulario-contacto{
    flex: 1 1 45%; 
    min-width: 300px;
    background-color:#eaf6ff ;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.formulario-contacto h3{
   margin-bottom: 20px;
   color: #0077b6;
}
.formulario-contacto form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formulario-contacto input,
.formulario-contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}
.formulario-contacto button {
    background-color: #0077b6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}
.formulario-contacto button:hover {
    background-color:#fca311;
}
/*footer*/
footer{
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.footer-contenido{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redes{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    margin-top: 10px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}


/*media queries */

/*tablets y pantallas medianas (hasta 1024px)*/
@media (max-width: 1024px){
    .banner h1{
        font-size: 2.8rem;
    }
    .listado{
        gap:15px;
    }
    .cards{
        grid-template-columns: repeat(2,1fr);
        gap:20px;
    }
    .historia{
        padding:40px 20px;
    }
}

/*moviles y pantallas pequeñas (hasta 768px)*/
@media (max-width: 768px){
    .banner h1{
        font-size: 2rem;
    }
   
    .listado{
        flex-direction: column;
        text-align: center;
        gap:10px;
        padding: 10px;
    }
    .listado li{
        width: 100%;
        border-bottom: 1px solid #444;
    }
    .bloque-historia-derecha,
    .bloque-historia-izquierda{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .bloque-historia-derecha img,
    .bloque-historia-izquierda img,
    .bloque-historia-derecha div,
    .bloque-historia-izquierda div{
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .carteles-anteriores {
        flex-direction: column;
        align-items: center;
    }
    .cartel{
        max-width: 80%;
    }
    .info{
        flex-direction: column;
    }
    .contenedor-mapa-form{
        flex-direction: column;
    }
    .mapa,
    .formulario-contacto{
        flex: 0 0 100%;
        width: 100%;
        min-width: auto;     
    }
    .mapa{
        min-height: 300px;
    }
    .footer-contenido{
        flex-direction: column;
        gap: 20px;
    }
}



