
/*Eliminamos margenes y paddings por defecto*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box; /*incluye el padding y borde en el tamaño total del elemento*/
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
    color: #333;
    background-color: #eaf6ff;
}
.contenedor-general{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* cabecera y navegacion*/
.banner{
  height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  /*imagen de fondo con degradado*/
  background: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
  url("../imagenes/hoguera.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*Hacer que la imagen de fondo permanezca fija al hacer scroll*/
  background-attachment: fixed;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden; /* evitar barras de desplazamiento */
}
/*Organizacion del contenido del banner con Grid y borde blanco */
.banner-contenido{
    display:grid;
    gap:0.5rem;
    padding:1rem 1.5rem;
    border:3px solid white;
    
   
}

.banner h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    font-family: 'Montserrat', sans-serif;
}
.banner h2{
    font-size:1.5rem;
    font-weight: 300;
}


.navegacion{
    background: #222;
    padding:1rem 1rem;
    /*barra navegacion fija*/
    position:sticky;
    top:0;
    z-index:100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
/*menu horizontal con flex*/
.listado {
    display:flex;
    justify-content: center;
    list-style: none;
    gap:30px;
    margin:0;
    padding:0; 
}
/*Botones transparentes y texto blanco */
.listado  a {
    background:none;
    color:#fff;
    border:none;
    padding:0.5rem 0;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    transition:color 0.3s;
   
}
/*Efecto hover en los botones de navegacion*/
.listado a:hover {
    color:#fca311;
}

/* estilos generales de secciones */
section{
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;

}
main h2{
    text-align: center;
    font-size: 2.5em;
    color: #0077b6;
    margin-bottom: 40px;
    border-bottom: 3px solid #0077b6;  
    padding-bottom: 10px;
}
p{
    margin-bottom: 20px;
    font-size: 1.1em;
    text-align: justify;
}
.pie-foto{
    text-align: center;
    font-style: italic;
    color: #666;
    font-size: 0.9em;
    margin:5px auto 30px auto;
    max-width: 500px;
}

/* Historia y origen */
.historia{
    background-color: #eaf6ff;
    padding: 50px 10%;
    max-width: 1200px;
    margin: 0 auto;
}
.historia h2{
    text-align: center;
    font-size: 2.5em;
    color: #0077b6;
    margin-bottom: 40px;
    border-bottom: 3px solid #0077b6;  
}

.historia p{
   margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    text-align: justify;
}
/*imagenes historia centradas, con sombra y redondeados*/
.imagen-historia{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: block;   
    margin: 30px auto 10px auto;
    max-width: 500px;
}
/*cultura y tradiciones*/
.cultura{
    background-color: #eaf6ff;
}
/*tarjetas en grid  4 columnas, cada tarjeta tiene borde, sombra y efecto hover*/
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-top:20px;
}
.card{
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: transform 0.3s;
}
/*Efecto hover en las tarjetas*/
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.card h4{
    color: #0077b6;
    margin-bottom: 15px;
    font-size: 1.4em;
    border-left: 5px solid #fca311;
    padding-left: 10px;
}
.card img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 15px 0 5px 0;
    width: 100%;
    object-fit: cover;
}
.card .pie-foto{
    margin: 5px 0 0 0;
}

/* Experiencia */
.experiencia{
    text-align: center;
    text-align: justify;
}

/* galeria de carteles con flex, centrados y efecto hover*/
.carteles-anteriores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.cartel {
  max-width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s;
}

.cartel:hover {
  transform: scale(1.05);
}



/* Información  con flex, borde y fondo blanco*/
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-top: 20px;

}
.info article{
    flex: 1 1 250px;
    padding: 20px;
    border:2px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    text-align: left;

}
.info article h4{
    color: #0077b6;
    margin-bottom: 10px;

}
.info img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px auto 0 auto;
    display: block;
    max-width: 300px; /* limitar el tamaño del mapa */
}

/*Contacto*/

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 0 auto;
}
.contacto input, .contacto textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
.contacto button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.contacto button:hover {
    background-color: #fca311;
}

/*footer*/
footer{
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.footer-contenido{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.redes{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    margin-top: 10px;
}
.copyright{
    text-align: center;
    margin-top: 20px;
}


/*media queries */
