* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
       

}
.contenedor {
	background:#ccc;
	width:95%;
	
	margin:auto;

	/* Flexbox */
	display:flex;
	flex-direction: row;
    flex-wrap: wrap;
}


body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
	flex-direction:row;
	flex-wrap:wrap;
}
 

header .logo img {
	width:50px;
	vertical-align: top;
}
header .logo a {
	color:#fff;
	font-size:30px;
	line-height:50px;
}


header nav {
	width:50%;
	/* Flexbox */

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}


main {
	background:#fff;
	padding:5px;
	display: flex;
	flex-wrap: wrap;
}

	.texto{
		margin:20px;
		width: 60%;
	}

    .texto article:first-child {
        margin-bottom: 20px;
        padding-bottom:20px;
        border-bottom:1px solid #000;
    }
    
    .imagenes {
    	background-color: #5c5c5c;
    	display:flex;
    	flex-flow:column;
    	align-items:center;
    	width: 35%;
    }

section img {
    margin:20px;
    width: 50%
}
footer {
	background:#2c3e50;
    width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
}
footer p  {
    color: #fff;

}
footer img {
    width: 20px;
}
