*{
  box-sizing: border-box ;
}

h1,h4,p{
  margin: 0px;
}

.container{
  color:#666;
  font-family: "lobster",cursive;
  display: grid;
  grid-template-columns: 10% 30% 30% 30%;
  grid-template-rows: 100px 400px 300px 100px;
  grid-row-gap: 1em;
  grid-auto-flow: row;
  width: 90%;
  margin: 20px auto;
}

header{
  border-bottom: 1px solid #666;
  grid-column: 1/5;
  grid-row: 1/2;
  padding: 1em;
  text-align: center;
}

nav{
  grid-column: 1/2;
  grid-row: 2/4;
  padding: 1em;
}
nav div{
  margin-bottom: 20px;

}

main{
  border: 1px solid #666;
  border-radius: 1em;
  grid-column: 2/4;
  grid-row: 2px / 3px; 
  width: 90%;
  padding: 1em;
  text-align: center;
  justify-self: center;
}

main img{
  border-radius: 1em;
  height: 70%;
  width: 80%;
}
article{
  border: 1px solid #666;
  border-radius: 1em;
  padding: 1em;
  text-align: center;
}
article img{
  border-radius: 1em;
  height: 60%;
  width: 100%;
}
article:nth-of-type(2),article:nth-of-type(3),article:nth-of-type(4){
  width: 90%;
  justify-self: end;
}
footer{
  align-items: center;
  border-top: 1px solid #666;
  display: flex;
  grid-column: 1/5;
  grid-row:4/5;
  padding: 2em;
  justify-content: space-between;
}
footer img{
  width: 50px;
}