* {
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  width: 90%;
}

.container > * {
  height: 150px;
}

header {
  background-color: yellow;
  padding-top: 2em;
  text-align: center;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.violet {
  background-color: violet;
}

.black {
  background-color: black;
  height: 100px;
}



@media screen and (min-width: 993px) {
  .red,
  .blue,
  .green {
    float: left;
    width: 33.33%;
  }

  .violet,
  .black {
    float: left;
    width: 50%;
    height: 100px;
  }
}

@media screen and (min-width: 993px) {
  .red,
  .blue,
  .green {
    float: left;
    width: 33.33%;
  }
}

@media screen and (orientation: landscape) {
  header {
    background-color: orange;
    color: green;
  }
}
  @media screen and (orientation: portrait) {
  header {
    background-color: yellow;
    color: black;
  }
}

