* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #222;
}

.contenedor {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  grid-row:1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #2c3e50; /* fondo azul oscuro */
  color: white;
  padding: 10px 20px;
  gap: 20px;
}

.logo {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo h1 {
  font-size: 24px;
  margin: 0;
}

header nav {
  padding:0;
}
header nav ul {
    background-color: #EBB866;
    grid-auto-flow: column;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 20px;
    padding: 20px;
    width: 40%;
    margin-left: 55%;
    min-width: 0;
   
}

header a {
  color: white;
  padding: 30px;
}

.main {
  grid-row:2;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.texto {
  background-color: white;
  padding: 10px;
}

.contenedor-lateral {
  grid-column:2/3 ;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: #e67e22;
  padding: 10px;
  
}

.img {
  background-color: #3498db;
  border: 2px solid #2980b9;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100%;
}

.img img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.footer {
  grid-row:3;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 10px 20px;
}

.social {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 10px;
}

.red {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}


