/* Centra en la página el texto del título */
h1 {
    text-align: center;
}

/* Da a todas las imágenes el mismo tamaño 50x50px */
img {
    width: 50px;
    height: 50px;
}

/* Todas las celdas de la primera columna (con clase .primera) en fondo rojo y texto blanco */
th.primera {
    background-color: red;
    color: white;
}

/* Estilos a la fila de "Capacidad" y a las celdas con clase .gb */
#fila .gb {
    font-size: 18px;
    text-align: center;
    background-color: lightgray;
}

/* Lista de la fila "Colores" en rojo */
#listas li {
    color: red;
}

/* Celda con id "cinco" (5 horas) con padding y fondo amarillo */
#cinco {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: yellow;
}

/* Bordes de la tabla y centrado */
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto; /* centra la tabla */
}

table th, table td {
    border: 1px solid black;
    padding: 5px;
}

/* Fondo azul a las celdas que tienen colspan=2 o colspan=3 */
td[colspan="2"], th[colspan="2"],
td[colspan="3"], th[colspan="3"] {
    background-color: blue;
}

