

/*RESET BÁSICO (Siempre pon esto al principio) */
* {
	margin: 0;
	padding: 0;
/* box-sizing: border-box hace que si pones un width de 200px y un padding de 20px,
la caja siga midiendo 200px en total. Sin esto,rompería el diseño. */
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
       

}
.contenedor {
	background:#ccc;
	width:95%;
	
	margin:auto;  /*ceentra la caja en la pantalla */

	/* Flexbox */
	display:flex;
	flex-direction: row; /*direccion izquierda a derecha */
    flex-wrap: wrap;
}


body {
	background:#e9e9e9;
}

header {
	background:#2c3e50;
	width:100%;
	padding:20px;

	/* Flexbox nivel padre */
	display: flex; /* activa, .nav y .logo se ponen fila */
	justify-content:space-between; /* para separar logo-menu pega el primero al iniicio y el ultimo al fila */
	flex-direction:row; /* opcional, asegura que van en fila horizontal */
	flex-wrap:wrap; /* para que en pantallas pequeñas se pongan en columna */
}
 

header .logo img {
	width:50px;
	vertical-align: top;
}
header .logo a {
	color:#fff;
	font-size:30px;
	line-height:50px;
}

/* menu dentro del header */
header nav {
	width:50%;/* ocupa mitad de la cabecera */

	display:flex; /*Activa flex para centrar contenido vertical */
	flex-wrap:wrap;
	align-items:center; /* alinea los enlaces al centro de la altura del nav. */
}

header nav a {
	background:#c0392b;
	color:#fff;
	text-align: center;
	padding:10px;

	/* Flexbox */
	flex-grow:1;
}


main {
	background:#fff;
	padding:5px;
	display: flex;
	flex-wrap: wrap;
}

	.texto{
		margin:20px;
		width: 60%;
	}

    .texto article:first-child {
        margin-bottom: 20px;
        padding-bottom:20px;
        border-bottom:1px solid #000;
    }
    
    .imagenes {
    	background-color: #5c5c5c;
    	display:flex;
    	flex-flow:column;
    	align-items:center;
    	width: 35%;
    }

section img {
    margin:20px;
    width: 50%
}
footer {
	background:#2c3e50;
    width: 100%;
	padding:20px;

	/* Flexbox */
	display: flex;
	justify-content:space-between;
}
footer p  {
    color: #fff;

}
footer img {
    width: 20px;
}
